* Users css */
.catigoryDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 25%;
}

.catigoryAction {
  border: 2px;
  background: rgb(250, 250, 250);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
  display: flex;
  width: 200px;
  flex-direction: column;
  border-radius: 20px;
  text-align: center;
  margin: 20px;
  padding: 10px;
  height: 300px;
}

.catigoryTextDiv{
  font-size: 25px;
  color: #774141;
}

.catigoryTextresaltsDiv{
  font-size: 25px;
  color: #320a77;
}

.recipyImage{
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 75px;
  border-radius: 15px;
}


 .mainCategoryDiv{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
 
 }