@import url("https://fonts.googleapis.com/css2?family=Ballet:opsz@16..72&family=Dancing+Script:wght@400..700&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Playwrite+TZ+Guides&display=swap");

/* Entry Bar */
.enteryBar {
  display: flex;
  background-color: #edf2f4;
  justify-content: center;
  padding: 5px;
  align-items: center;
}

.ballet-font {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 1000;
  font-style: normal;
  padding-left: 10px;
  color: #2b2d42;
}

.textBar {
  padding-top: 5px;
  color: #8e0118;
  font-weight: bold;
}

/* Sample Container */
.imagesReSize {
  height: 370px;
  width: 250px;
  padding: 7px;
  opacity: 1;
  transition: opacity 0.3s ease;
}
.imagesReSize:hover {
  opacity: 0.5;
}
.sampleDiv {
  display: flex;
  justify-content: center;
  background-color: #edf2f4;
}
/* Categories Container */
.categoriesBar {
  display: flex;
  background-color: #edf2f4;
  justify-content: center;
  padding: 2px;
  align-items: center;
}
.categorySelector {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-right: 10px;
}

.oneCatigoreyDiv {
display: flex;
flex-direction: column;
align-items: center;
  padding: 5px;
  opacity: 1;
  transition: opacity 0.3s ease;
}
.oneCatigoreyDiv:hover {
  opacity: 0.5;
}
.oneImageSizing {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}
