.ingredientDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 25%;
  }

  .ingredientAction {
    border: 2px;
    background: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
    display: flex;
    width: 300px;
    flex-direction: column;
    border-radius: 20px;
    text-align: center;
    margin: 10px;
    padding: 10px;
    height: 500px;
  }
  
  .integoryTextDiv{
    font-size: 25px;
    color: #119e2e;
  }

  .intgoryTextresaltsDiv{
    font-size: 25px;
    color: #770a5f;
  }

  .mainIngridentDiv{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
   
   }
  
  