.userssDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 25%;
  }

  .userssAction {
    border: 2px;
    background: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
    display: flex;
    width: 300px;
    flex-direction: column;
    border-radius: 20px;
    text-align: center;
    margin: 30px;
    padding: 20px;
  }
  
  .userssTextDiv{
    font-size: 25px;
    color: #415a77;
  }

  .userssTextresaltsDiv{
    font-size: 25px;
    color: #0a7732;
  }

  .userssImage{
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 75px;
    border-radius: 15px;
  }

  .mainUserssDiv{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
   
   }
  
  